.total-result{
    padding: 10px 0;
    width: 300px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 30px auto 0 auto ;
    border-radius: 50px;
    background-color: white;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
}